Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1: A database is an organized collection of related data typically stored electronically in such a way that it can be easily accessed, retrieved, managed, modified and organized.

Major difference between SQL and NoSQL databases are: 

1). SQL databases are relational and NOSQL databases are non-relational
    SQL stores data in tabular format with fixed columns and rows, while NOSQL uses storage model based on type of data. It can be document 
    store, key-value store, garph or wide-column.
    
2). SQL databases are used to store structured data, while NOSQL is mostly used for unstructured large data

3). SQL databases use structured query language and have a pre-defined schema for defining and manipulating data.
    NOSQL databases have dynamic schemas for unstructured data and stores data in many ways.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2: DDL -  Data Definition Language is used to create, modify and delete database objects like table, view etc

    CREATE - Used to create a database object
    CREATE TABLE employee (empid int, empname varchar2(50), departmentid int, managerid int, hiredate date)
    
    ALTER - Used to modify the database object
    ALTER TABLE employee ADD (emailid varchar2(80))
    
    DROP - Used to delete the database object
    DROP TABLE employee
    
    TRUNCATE - Used to delete all the records from the table
    TRUNCATE TABLE employee

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3: DML - Data Manipulation Language - used to modify the data in table

    INSERT - Insert command is used to insert data in the table
    INSERT INTO employee(61230, 'Alpesh', 3,77329, '2017-05-22', 'alpesh.patel@xxx.com')
    
    UPATE - Update command is used to udpate the existing data in the table
    UPDATE employee set managerid = 33234 where empid = 61230
    
    DELETE - Delete command is used to delete record from the table
    DELETE FROM employee where empid = 61230

Q4. What is DQL? Explain SELECT with an example.

A4: DQL - Data Query Language is used to perform queries to fetch the data from table/view
    
    SELECT - Select is used to query the table
    SELECT * FROM employee where empid = 61230

Q5. Explain Primary Key and Foreign Key.

A5: Primary Key: A primary key is a column or combination of columns in a table whose values uniquely identify a row in a table.
    
    Only one primary key is allowed in a table and it must not contain NULL values.
    
    Foreign Key: A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. It is used to establish relationship between two tables in database.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="<hostname>",
  user="<username>",
  password="<password>"
  database="<databasename>"
)

mycursor = mydb.cursor()

mycursor.execute('select * from <tablename>')

for x in mycursor:
    print(x)
    
mycursor.close()
mydb.close()

cursor() method is used to create a cursor object to perform various sql operations. Using different methods of cursor object, 
you can execute SQL statements, fetch data from the result sets, call procedures.

execute() method accepts sql query as a parameter and executes the given query.

Q7. Give the order of execution of SQL clauses in an SQL query.

A7: 
    from/join - Tables are joined to get base data
    
    where - Base data is filtered
    
    group by - Fitered base data is grouped/aggregated
    
    having - Aggregated data is filtered
    
    select - Final data is returned
    
    order by - Final data is sorted
    
    limit/offset - Limits the returned data to row count