Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [4]:
s = pd.Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
import random

In [11]:
l = [ random.randint(1,30)  for i in range(0,10)]

In [12]:
s = pd.Series(l)
print(s)

0     7
1    25
2    20
3    19
4    19
5    13
6     5
7    30
8    23
9    15
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [22]:
data = { 
         "Name": ['Alice','Bob','Claire'],
         "Age": [25,30,27],
         "Gender": ['Female','Male','Female']
       }

df = pd.DataFrame(data)

In [23]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a two-dimentional labeled data structure with columns of potentially heterogeneous data types.
The DataFrame has both a row and column index; and it can be thought of as a dictionary of Series all sharing the same index.

While a Series is a one-dimensional array-like object containing a sequence of values of the same type and an associated array of data labels, called its index.

In [25]:
# Example of DataFrame, which represent data as rectangular table or SQL table

data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [27]:
# Example of Series, which represents data as a 1d array

l = ['Python','Stats','Maths','Machine Learning','Deep Learning','AI']
s = pd.Series(l)
print(s)

0              Python
1               Stats
2               Maths
3    Machine Learning
4       Deep Learning
5                  AI
dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

drop() - To drop/remove a specific column from DataFram
assign() - To add a new column to DataFrame
merge() - To meage two DataFrames
drop_duplicates() - To remove the duplicate records from DataFram

In [35]:
# Example of drop_duplicates() to remove duplicate Name from the below DF
data = { 
         "Name": ['Alice','Bob','Claire','Bob', 'Tom', 'Alice', 'Rob'],
         "Age": [25,30,27,33,12,45,25],
         "Gender": ['Female','Male','Female','Male','Male','Female','Male']
       }

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3     Bob   33    Male
4     Tom   12    Male
5   Alice   45  Female
6     Rob   25    Male

In [34]:
uniqueDF = df.drop_duplicates(subset=["Name"])
print(uniqueDF)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
4     Tom   12    Male
6     Rob   25    Male

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series, DataFrame and Panel are all data/value mutable (value can be changed).
While Series is size immutable, and DataFrame and Panel are size mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

We can create a DataFrame from multiple Series objects by adding each series as a column.  concat() method is used to merge multiple series together into DataFrame.

In [32]:
Name = pd.Series(['Alice','Bob','Claire'])
Age = pd.Series([25,30,27])
Gender = pd.Series(['Female','Male','Female'])

df = pd.concat({"Name":Name, "Age":Age, "Gender":Gender},axis=1)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female